.footer {
    color: #fff;
    padding-top: 80px;

    .studio-link {
        color: #ffff00;

        &:hover {
            text-decoration: underline;
        }
    }

    .logo,
    .socials,
    .footer-text,
    .footer-nav {
        width: 50%;

        @media (max-width: 1000px) {
            width: 100%;
            margin-bottom: 40px;
        }
    }

    .footer-nav {
        padding-left: 10px;

        @media (max-width: 1000px) {
            margin-bottom: 0;
        }
    }

    .logo,
    .socials, {
        margin-bottom: 60px;

        @media (max-width: 1000px) {
            margin-bottom: 40px;
            text-align: center;

            img {
                display: inline-block;
                max-width: 90%;
            }
        }
    }

    .footer-text {
        padding-right: 195px;

        @media (max-width: 1140px) {
            padding-right: 50px;
           
        }

        @media (max-width: 1000px) {
            text-align: center;
            padding-right: 0;
        }

        &:before {
            content: '';
            width: 90px;
            height: 6px;
            background-color: #1B503E;
            display: block;
            margin-left: -20px;
            margin-bottom: 15px;

            @media (max-width: 1000px) {
                margin-left: auto;
                margin-right: auto;
            }
        }

        &__title {
            font-size: 24px;
            font-family: $m;
            font-weight: normal;
            margin-bottom: 20px;
        }

        &__text {
            margin-bottom: 20px;
            font-size: 15px;
        }

        &__author {
            font-size: 18px;

            .name {
                font-family: $m;
                display: block;
            }
            .position {
                font-family: $ml;
                display: block;
            }
        }
    }


    .footer-menu {
        ul {
            @include flex($alignI: flex-start);
        }
        .menu-item {
            width: 33.333%;
            padding-right: 20px;
            list-style: none;
            color: #fff;

            @media (max-width: 530px) {
                width: 50%;
                margin-bottom: 20px;
            }

            &:before {
                content: '';
                width: 95px;
                height: 6px;
                background-color: #1B503E;
                display: block;
                margin-left: -20px;
                margin-bottom: 15px;
            }

            a {
                font-size: 24px;
                color: #fff;
                font-family: $m;
                display: inline-block;
                margin-bottom: 35px;

                @media (max-width: 530px) {
                    font-size: 20px;
                    margin-bottom: 20px;
                }
            }
        }

        ul.sub-menu {
            display: block;

            .menu-item {
                width: 100%;
                padding-right: 0;

                &:not(:last-child) {
                    margin-bottom: 12px;

                    @media (max-width: 530px) {
                        margin-bottom: 10px;
                        line-height: 14px;
                    }
                }

                &:before {
                    display: none;
                }

                a {
                    font-size: 16px;
                    opacity: 0.5;
                    margin-bottom: 0;
                    -webkit-transition: all 0.3s ease;
                    -o-transition: all 0.3s ease;
                    transition: all 0.3s ease;

                    @media (max-width: 530px) {
                        font-size: 14px;
                    }

                    &:hover {
                        opacity: 0.8;
                    }
                }
            }
        }
    }


    .socials {
        text-align: right;

        @media (max-width: 1000px) {
            text-align: center;
        }

        a {
            display: inline-block;
            width: 40px;
            height: 40px;
            background-color: #fff;
            border-radius: 50%;
            margin-left: 8px;
            background-position: 50% 50%;
            background-repeat: no-repeat;
            -webkit-transition: all 0.3s ease;
            -o-transition: all 0.3s ease;
            transition: all 0.3s ease;

            @media (max-width: 1000px) {
                margin: 0 5px;
            }

            &:hover {
                -webkit-transform: scale(1.1);
                -ms-transform: scale(1.1);
                -o-transform: scale(1.1);
                transform: scale(1.1);
            }

            &.fb {
                background-image: url(../images/facebook-green.svg);
                background-size: auto 18px;
            }
            &.inst {
                background-image: url(../images/instagram-green.svg);
                background-size: auto 20px;
            }
            &.tw {
                background-image: url(../images/twitter-green.svg);
                background-size: auto 16px;
            }
        }
    }
}

.footer-top {
    background-color: #20704D;
    padding: 70px 0 85px;

    .wrapper {
        -webkit-align-items: flex-start;
        -ms-flex-align: start;
        align-items: flex-start;
    }
}
.footer-bottom {
    background-color: #154B33;
    padding: 22px 0;

    @media (max-width: 530px) {
        p {
            width: 100%;
            margin: 10px 0;
            text-align: center;
        }
    }
}