         
.mainHeader {
    @include position(absolute, 0, 0, auto, 0);
    &__top {
        height: 50px;
        background-color: #FFF;
        .wrapper {
            height: 100%;
            @include flex(); 
            padding: 0;
        }
        &__left,
        &__right {
            color: #000;
            width: 50%;
        }
        &__right {
            text-align: right;
        }
        .searchInput,
        .social {
            display: inline-block;
            vertical-align: middle;
        }
        .tel {
            display: inline-block;
            vertical-align: middle;
            margin-right: 40px;
            font-style: 18px;
            color: #000;
            font-family: $m;
            &:before {
                width: 16px;
                height: 16px;
                content: "";
                display: inline-block;
                vertical-align: middle;
                margin-right: 16px;
                -webkit-background-size: 100% 100%;
                 -o-background-size: 100% 100%;
                    background-size: 100% 100%;
                    background-image: url("../images/phone.svg");
            }
        }
        .mail {
            display: inline-block;
            vertical-align: middle;
            font-style: 18px;
            color: #000;
            font-family: $m;
            &:before {
                width: 15px;
                height: 12px;
                content: "";
                display: inline-block;
                vertical-align: middle;
                margin-right: 16px;
                -webkit-background-size: 100% 100%;
                 -o-background-size: 100% 100%;
                    background-size: 100% 100%;
                background-image: url("../images/mail.svg");
            }
        }
    }
    &__bottom {
        .wrapper {
            @include flex(); 
            padding: 0;
        }
        padding-top: 25px;
    }
        /*.................media.............*/
        @include m800 {

        }
        /*.............end media..............*/
}


/* ------------------------------------ */
/*  NAV STYLES  */
.mainNav {
    ul {
        list-style-type: none;
        li {
            display: inline-block;
            a {
                color: #FFF;
                display: inline-block;
                font-size: 18px;
                margin-right: 35px;
                border-bottom: 2px solid transparent;
                @include transition(all, .2s);
                &:hover {
                    border-color: #FFF;
                }
            }
            &:last-of-type a {
                margin-right: 0;
            }
        }
    }
            /*.................media.............*/
            @include m800 { 
                
            }
            /*.............end media.............*/
    
}



.searchInput {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    input {
        background-color: transparent;
    }
    .search_type {
        max-width: 0;
        border: none;
        border-bottom: 1px solid transparent;
        position: absolute;
        right: 20px;
        top: 0;
        @include transition(all, .2s);
        &.active {
            max-width: 150px;
            border-color: #000;
        }
    }
    #search_submit {
        margin-top: 4px;
        border: none;
        width: 15px;
        height: 17px;
        cursor: pointer;
        background-image: url("../images/search.svg");
        background-repeat: no-repeat;
        -webkit-background-size: cover;
             -o-background-size: cover;
                background-size: cover;
    }
    &:hover,
    &:focus {
        .search_type {
            max-width: 150px;
            border-color: #000;
        }
    }
}


.social {
    margin-left: 65px;
    &__item {
        display: inline-block;
        vertical-align: middle;
        margin-right: 35px;
        -webkit-background-size: 100% 100%;
             -o-background-size: 100% 100%;
                background-size: 100% 100%;
        &:last-of-type {
            margin-right: 0;
        }
        &--inst {
            width: 21px;
            height: 21px;
            background-image: url("../images/instagram.svg");
        }
        &--fb {
            width: 8px;
            height: 17px;
            background-image: url("../images/facebook.svg");
        }
        &--tw {
            width: 20px;
            height: 16px;
            background-image: url("../images/twitter.svg");
        }
    }
}

/* ------------------------------------ */
/*  MENU BUTTON  */

.menu-button     {    
    display: none;
    width: 50px;
    height: 50px;
    @include position(fixed, 15px, 15px, auto, auto);
    margin: auto; 
    cursor: pointer;
    z-index: 100;
    background-color: salmon;
    border: none;
    -webkit-border-radius: 4px;
            border-radius: 4px;
    .menu-line {
        display: block;
        @include position(absolute, auto, 0, auto, 0);
        width: 60%;
        height: 5px;
        background-color: #fff;
        -webkit-border-radius: 1px;
        border-radius: 1px;
        @include transition(all, .4s);
    }

    .top_line              {   top: 12px;  margin: auto;}
    .middle_line           {   top: 22px;  margin: auto;}
    .bottom_line           {   bottom: 12px; margin: auto;}

    &.active               {   -webkit-border-radius: 6px; border-radius: 6px;}
    &.active .top_line     {   @include transform(rotate(45deg)); top: 45%;}
    &.active .bottom_line  {   @include transform(rotate(-45deg)); bottom: 45%;}
    &.active .middle_line  {   width: 0; left: 50%;}

        /*.................media.............*/
        @include m800 {
            display: block;
        }
        /*..............end media.............*/

}
