.proud {
    padding-top: 100px;
    @include m700 {
        padding-top: 40px;
        text-align: center;
    }
}

.proud-item {
    width: 33.3333%;
    padding: 0 20px;
    text-align: center;
    font-size: 24px;
    font-family: $m;
    line-height: normal;
    @include m700 {
        width: 260px;
        text-align: center;
        margin: 0 auto 30px;
        font-size: 18px;
        display: inline-block;
        vertical-align: top;
    }
    figure {
        margin: 0;
        height: 102px;
        @extend %vertAlign;
        margin-bottom: 17px;

        img {
            display: inline-block;
            vertical-align: middle;
        }
    }
}