.map-block {
    height: auto;
    position: relative;
    padding: 0;

    .map-wrap {
        position: relative;
        img {
            width: 100%;
            display: block;
        }
        @include m700 {
            width: 170%;
            margin-left: -30%;
        }
        @include m400 {
            width: 200%;
            margin-left: -45%;
        }
    }

    .pin {
        width: 38px;
        height: 62px;
        display: block;
        position: absolute;
        background-image: url(../images/f-pin.png);
        background-size: 100%;
        transform: translateX(-50%);
        cursor: pointer;

        &:hover,
        &.active {
            background-image: url(../images/f-pin-y.png);
        }
    }

    #pin-1 {
        bottom: 31.5%;
        left: 22%;
    }

    #pin-2 {
        bottom: 60%;
        left: 47.1%;
    }

    #pin-3 {
        bottom: 18.75%;
        left: 63.1%;
    }
}


.filials {
   
    &-box {
        @include flex($alignI: flex-start, $justify: flex-start);
        @include m1000 {
            display: block;
        }
    }

    .filial {
        width: 33.333%;
        padding-left: 95px;
        @include m1140 {
            padding-left: 40px;
        }
        @include m1000 {
           width: 100%;
           margin-bottom: 40px;
        }
        @include m500 {
           padding-left: 10px;
        }
        &__title {
            font-family: $mb;
            font-weight: normal;
            font-size: 24px;
            line-height: normal;
            margin-bottom: 20px;
            cursor: pointer;
            -webkit-transition: all 0.3s ease;
            -o-transition: all 0.3s ease;
            transition: all 0.3s ease;
            @include m1140 {
               font-size: 20px;
            }
            &:before {
                content: '';
                width: 95px;
                height: 6px;
                display: block;
                background-color: #C3D0D1;
                margin-left: -20px;
                margin-bottom: 20px;
                -webkit-transition: all 0.3s ease;
                -o-transition: all 0.3s ease;
                transition: all 0.3s ease;
            }

            &:hover {
                color: $green;

                &:before {
                    margin-left: -95px;
                    width: 170px;
                    background-color: $green;
                }
            }
        }

        p {
            margin-bottom: 20px;
            @include m1140 {
               font-size: 18px;
            }
        }

        .affiliate__contacts {
            width: 100%;
            padding: 0;

            &:before {
                content: '';
                width: 95px;
                height: 1px;
                display: block;
                background-color: #C3D0D1;
                margin-left: -20px;
                margin-bottom: 20px;
            }

            .group p, .group a {
                font-size: 18px;
                margin-bottom: 0;
                @include m1140 {
                   font-size: 16px;
                }
            }
            .group {
                @include m1140 {
                    margin-bottom: 10px;
                }
            }
        }


        &.active {
            .filial__title {
                color: $green;

                &:before {
                    margin-left: -95px;
                    width: 170px;
                    background-color: $green;
                }
            }
        }
    }
}