.our-mission {
    position: relative;
    z-index: 1;
    padding: 0;

    &:after {
        content: '';
        width: 100%;
        position: absolute;
        top: 80px;
        bottom: 80px;
        z-index: -1;
        background-color: #C3D0D1;
    }


    .item {
        width: 100%;
        height: 390px;
        @include flex($alignI: center);
        background-color: $green;
        color: #fff;

        @media (max-width: 750px) {
            height: auto;
        }

        .text {
            width: -webkit-calc(50% - 50px);
            width: calc(50% - 50px);
            
            @media (max-width: 1140px) {
                font-size: 15px;
            }

            @media (max-width: 1000px) {
                width: 55%;
            }

            @media (max-width: 750px) {
                width: 100%;
                height: auto;
                padding: 30px 20px!important;
            }

            .title {
                font-size: 30px;
                font-family: $m;
                margin-bottom: 30px;

                @media (max-width: 1140px) {
                    font-size: 24px;
                    margin-bottom: 20px;
                }
            }
        }
        .background {
            width: -webkit-calc(50% + 50px);
            width: calc(50% + 50px);
            height: 100%;
            position: relative;
            background-repeat: no-repeat;
            background-size: cover;
            background-position: 50% 50%;

            @media (max-width: 1000px) {
                width: 45%;
            }

            @media (max-width: 750px) {
                height: 250px;
                width: 100%;
            }

            @media (max-width: 750px) {
                &:after,
                &:before {
                    display: none;
                }
            }
        }
    }

    .mission {
        -webkit-flex-direction: row-reverse;
        -ms-flex-direction: row-reverse;
        flex-direction: row-reverse;
        margin-top: 20px;

        .background:after {
            content: '';
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 390px 50px 0 0;
            border-color: $green transparent transparent transparent;
            position: absolute;
            left: 0;
            top: 0;
            bottom: 0;
        }

        .text {
            padding: 0 60px 0 95px;

            @media (max-width: 1000px) {
                padding: 0 50px;
            }
        }
    }

    .vission {
        .background:after {
            content: '';
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 0 0 390px 50px;
            border-color: transparent transparent $green transparent;
            position: absolute;
            right: 0;
            top: 0;
            bottom: 0;
        }

        .text {
            padding: 0 95px 0 60px;

            @media (max-width: 1000px) {
                padding: 0 50px;
            }
        }
    }
}


.timeline {
    li {
        list-style: none;
        @include flex($alignI: flex-start);

        &:not(:last-child) {
            margin-bottom: 25px;
        }

        time {
            width: 190px;
            text-align: left;
            font-family: $mb;
            color: $green;
            font-size: 24px;
            margin-top: 5px;
            position: relative;

            @media (max-width: 750px) {
                width: 90px;
            }

            &:after {
                content: '';
                width: 75px;
                height: 1px;
                background-color: #20704d;
                position: absolute;
                right: 20px;
                top: 10px;

                @media (max-width: 750px) {
                    display: none;
                }
            }
        }

        span {
            width: -webkit-calc(100% - 190px);
            width: calc(100% - 190px);
            font-size: 18px;

            @media (max-width: 750px) {
                width: -webkit-calc(100% - 90px);
                width: calc(100% - 90px);
            }
        }
    }
}