// COLORS
// ---------------------------


// FONTS
// ---------------------------
$ob:                'open_sansbold';
$o:                 'open_sansregular';

$r:                 'roboto_slabregular';
$rl:                'roboto_slablight';


// RESPONSIVE
// ---------------------------
