// COLORS
// ---------------------------
$green:             #26875C;

// FONTS
// ---------------------------
$ob:                'open_sansbold';
$osb:               'open_sanssemibold';
$o:                 'open_sansregular';

/*$r:                 'roboto_slabregular';*/
/*$rl:                'roboto_slablight';*/
/*$rb:                'roboto_slabbold';*/

$m:                 'montserratregular';
$mb:                'montserratbold';
$ml:                'montserratlight';


// RESPONSIVE
// ---------------------------
